@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*,p {
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p{
  margin-bottom: 0;
}